@use '../sass' as s;
@use './text';

.lesson__section {
	width: 100%;
	.video__player {
		width: 100% !important;
		height: 100% !important;
		margin-bottom: 30px;
		min-height: 40vh;
	}
	.side__lesson {
		@include s.flexCenter(row, space-between, center);
		background-color: #fff;
		padding: 15px 20px;
		border-radius: 20px;
		margin: 10px 0;
		.lesson__left {
			display: flex;
			flex: 60%;
			#lesson__id {
				margin-right: 10px;
			}
		}
	}
}
