@use '../sass' as s;
@use './text';

.container {
	position: relative;
	// #level__selector {
	// 	position: absolute;
	// 	right: 0;
	// 	top: 0;
	// }

	.lessons__wrapper {
		@include s.flexCenter(column, flex-start, stretch);
		.lesson {
			@include s.flexCenter(row, space-between, center);
			background: #fff;
			padding: 20px 20px;
			border-radius: 10px;
			margin: 10px 0;
			.lesson__left {
				display: flex;
				flex: 60%;

				#lesson__id {
					margin-right: 20px;
				}
				#lesson__name {
					display: flex;
					.lesson__id,
					.lesson__name {
						font-size: inherit;
					}
				}
			}
		}
	}
}
