$primary: #4dc591;
$secondary: #9ba1ff;
$white-bg: #f5f4f4;
$tertiary: #ff7648;
$main-text: #11101b;
$main-hover: #34333f;
$body-text: #dfdfe1;
$body-hover: #c4c4ca;
$header-big: 26px;
$header-main: 24px;
$header-medium: 22px;
$header-small: 20px;
$text-big: 18px;
$text-medium: 14px;
$text-small: 13px;
